<header>
    <center>
        <nav>
            <button>
                HOME
            </button>
            <button>
                ABOUT
            </button>
<!--            <button>-->
<!--                CONTACT-->
<!--            </button>-->
        </nav>
    </center>
</header>