<center>
<p>ACCOUNT REGISTRATION PAGE</p>
    <form method="post" action="/insert_account">
        <input required name="username" type="text" placeholder="USERNAME">
        <input required name="password" type="password" placeholder="PASSWORD">
        <input type="submit" value="REGISTER">
    </form>

    <p>Already Registered?<a href="/"> Click Here </a> To Login</p>

</center>