<html>
<head>
    <title>
        This is HBS
    </title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!---->

<!--<p>DEMO !</p>-->

<center>
    <img src="/images/sample.png">
    
    <form method="post" action="/send">
        <input name="data" type="text" placeholder="ENTER DATA">
        <input type="submit" value="SUBMIT DATA">
    </form>
</center>


<p></p>

</body>
</html>