<a href="/logout">Logout</a>
<a>/</a>
<a href="/display">Display</a>

<center>



    <p>INSERT DATA</p>

    <form method="post" action="/save_data">
        <input type="text" name="roll" placeholder="ENTER ROLL NO">
        <input type="text" name="name" placeholder="ENTER NAME">
        <input type="submit" value="SUBMIT">
    </form>
</center>

